<html>
  <title> {% block title%}Home{%endblock title%} - Computer Class Registation System</title>
  <body>
    
  <header class="p-3 text-bg-dark">
    
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 40px;">Welcome to EnrollEasy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          </button>
          </div>
          
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/index" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/course" class="nav-link px-2 text-white">Course</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
          <li><a href="/faq" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="/contact" class="nav-link px-2 text-white">Contact</a></li>
        </ul>
        <div class="text-end">
          <a href="/admin" class="btn btn-outline-light me-2">Admin</a>
        </div>
      </div>
    </div>
  </header>

<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
{% block body %}{% endblock body %}
</body>
</html>