{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-10 p-lg-4 mx-auto my-4">
      <h1 class="display-3 fw-bold">EnrollEasy</h1>
      <h3 class="fw-normal text-muted mb-3">Welcome to EnrollEasy, your gateway to hassle-free registration for computer classes! Discover a user-friendly interface designed to simplify your enrollment process.</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a href="/course" class="btn btn-primary">
        View Courses
      </a>
        </a>
      </div>
    </div>
</main>


<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock body %}
